body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.checkout-btn {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.generate-btn {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.bill-count {
    padding:5px;
    border:1px solid black;
    border-radius: 5px;
}

tr > td {
    font-weight: bold;
}

#total{
    text-align: center;
}

@media (max-width:768px) {
    .container{
        margin:0px;
        border-radius:0px;
        padding:20px;
        min-width: 360px;
    }
}

@media (max-width:425px){
    .container{
        padding:5px;;
    }
}