body{
    text-align: center;
}
img{
    width:300px;
    height:300px;
    padding:10px;
    margin:10px;
}
img:hover{
    border-radius:50px;
    box-shadow:1px 1px 10px 1px gray;
}
.cmp{
    display: none;
}
#hidden {
    display: none;
}
#show{
    display:block;
}
button{
    padding:10px;
    border:none;
    margin:10px;
    border-radius: 10px;
    box-shadow:1px 1px 10px 1px gray;
}
#animate{
    border-radius: 30px;
    border-bottom:10px solid green;
    margin:10px;
}
#danimate{
    opacity:0.5;
    
}
@media (max-width:769px) {
    img{
        width:180px;
        height:180px;
        border-radius:20px;
    }
}
@media (max-width:426px){
    img{
        width:120px;
        height:120px;
        border-radius:20px;
        margin:0px;
    }
}