*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:15px 30px;
    padding: 8px;
}
form{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border:1px solid lightgray;
    border-radius:10px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="submit"],
select,textarea,fieldset{
    width:100%;
    padding:10px;
    border-radius:10px;
    border:1px solid #ccc;
    background-color:#fff;
    /* margin:10px auto; */
}
/* fieldset{
    background-color: #fff;
    border:1px solid #ccc;
    margin:10px auto;
    border-radius:10px;
    /* width:100%; */
/* } */ 
.main_heading{
    text-align: center;
}
input[type="submit"]{
    background-color:navy;
    color:white;
    cursor: pointer;
    font-weight:bolder;
    /* padding: 12px 20px; */
    /* border:none; */
    /* border-radius: 5px; */
    /* width:100%; */
}
input[type="submit"]:hover{
background-color:green;
}